*
{
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    background-color: #FAD824;
    text-align: center;
}


.menu
{
    padding: 10px; 
    margin: 10px;
    font-size: 20px;
    padding-left: 30px;
}

footer
{
    background-color: #FAD824;
    text-align: center;
    padding: 15px;
}

body
{
    background-color: black;
}

form 
{
    color: white;
}

h1
{
    color: white;
}

